<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mappingModel -->
      <package
            uri="http://www.uni_paderborn.de/swt/cards/mappingModel"
            class="de.uni_paderborn.swt.cards.mappingModel.MappingModelPackage"
            genModel="model/mappingModel.genmodel"/>
   </extension>

</plugin>
